<!doctype html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Test Connaissances</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }
        </style>
    </head>
    
    <body>
        <h1>Mon tableau :</h1>
        
        <ul>
            <% array.forEach(function(element, index) { %>
            <li><a href="/index/delete/<%= index %>">✘</a><%= element %></li>
            <% }); %>
        </ul>
    
        <form action="/index/add/"  method="post">
            <label for="newelement">Ajouter un élément </label>
            <input type="text" name="newelement">
            <input type="submit">
        </form>

        <form action="/index/ids/" method="post">
            <label for="lastName"></label>
            <input type="text" name="lastName">
            <br><br>
            <label for="firstName"></label>
            <input type="text" name="firstName">
            <input type="submit">
        </form>
    </body>

</html>